Repository agunginsani/web-pegipegi, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, documentation, test, apps:bus-mobile, apps:flight-mobile

fix: style overflow and padding
  apps/flight-mobile/modules/home/components/SectionLastSearch.vue
Labels: apps:flight-mobile

fix: prettier rules
  apps/flight-mobile/app.vue
  apps/flight-mobile/cloudbuild.yaml
  apps/flight-mobile/modules/common/composables/use-auth-store.ts
  apps/flight-mobile/modules/home/composables/use-airports.ts
  apps/flight-mobile/modules/home/composables/use-promo-banners.ts
  apps/flight-mobile/modules/home/composables/use-seat-classes.ts
  apps/flight-mobile/newrelic.cjs
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/plugins/logger.server.ts
  apps/flight-mobile/tailwind.config.js
Labels: ci, apps:flight-mobile

test: update e2e
  tests/flight-mobile/tests/example.spec.ts
Labels: test

test: skip test
  tests/flight-mobile/tests/example.spec.ts
Labels: test

feat: improve performance
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SearchForm/index.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/public/figure-search-hero.svg
Labels: apps:flight-mobile

chore: simplify searchForm
  apps/flight-mobile/modules/home/components/SearchForm/index.vue
  apps/flight-mobile/modules/home/components/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
Labels: apps:flight-mobile

fix: some feedback
  apps/flight-mobile/modules/home/components/LastSearchItem.vue
  apps/flight-mobile/modules/home/components/SectionLastSearch.vue
Labels: apps:flight-mobile

chore: remove comment
  apps/flight-mobile/modules/home/components/SectionLastSearch.vue
Labels: apps:flight-mobile

refactor: return flight date
  apps/flight-mobile/modules/home/components/LastSearchItem.vue
Labels: apps:flight-mobile

feat: add navbar
  apps/flight-mobile/.env.production
  apps/flight-mobile/.env.staging
  apps/flight-mobile/middleware/transition.global.ts
  apps/flight-mobile/modules/home/components/Navbar.vue
  apps/flight-mobile/modules/home/components/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/public/icon-back.svg
Labels: apps:flight-mobile

chore: improve accessibility
  apps/flight-mobile/modules/home/components/SearchFormInput.vue
Labels: apps:flight-mobile

.github/labeler.yaml:

ci:
  - .github/workflows/*
  - "**/cloudbuild.yaml"
  - "**/dockerfile.*"

documentation:
  - "**/*.md"

test:
  - tests/**

"apps:bus-mobile":
  - apps/bus-mobile/**

"apps:flight-mobile":
  - apps/flight-mobile/**
