Repository agunginsani/web-pegipegi, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, documentation, apps:bus-mobile, apps:flight-mobile

ci: add ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci(flight): add sonar-project.properties
  apps/flight-mobile/sonar-project.properties
Labels: apps:flight-mobile

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

chore: add .prettierignore
  .prettierignore
Labels: none

chore: update .vscode
  .vscode/web-pegipegi.code-workspace
Labels: none

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update labeler.yaml
  .github/workflows/labeler.yaml
Labels: ci

chore: update vscode settings
  .vscode/web-pegipegi.code-workspace
Labels: none

test(flight): init e2e
  tests/flight-mobile/.gitignore
  tests/flight-mobile/package.json
  tests/flight-mobile/playwright.config.ts
  tests/flight-mobile/tests/example.spec.ts
Labels: none

fix(flight): fix logger on nuxt preview
  apps/flight-mobile/package.json
  apps/flight-mobile/plugins/logger.server.ts
Labels: apps:flight-mobile

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

chore: update vscode settings
  .vscode/web-pegipegi.code-workspace
Labels: none

build: add dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

chore(flight): update package name
  apps/flight-mobile/package.json
Labels: apps:flight-mobile

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

test(flight): update playwright.config.ts
  tests/flight-mobile/playwright.config.ts
Labels: none

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

test(flight): update playwright.config.ts
  tests/flight-mobile/playwright.config.ts
Labels: none

test(flight): update playwright.config.ts
  tests/flight-mobile/playwright.config.ts
Labels: none

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

test(flight): update playwright.config.ts
  tests/flight-mobile/playwright.config.ts
Labels: none

.github/labeler.yaml:

ci:
  - .github/workflows/*
  - "**/cloudbuild.yaml"
  - "**/dockerfile.*"

documentation:
  - "**/*.md"

"apps:bus-mobile":
  - apps/bus-mobile/**

"apps:flight-mobile":
  - apps/flight-mobile/**
