Repository agunginsani/web-pegipegi, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, documentation, test, apps:bus-mobile, apps:flight-mobile

.github/labeler.yaml:

ci:
  - .github/workflows/*
  - "**/cloudbuild.yaml"
  - "**/dockerfile.*"

documentation:
  - "**/*.md"

test:
  - tests/**

"apps:bus-mobile":
  - apps/bus-mobile/**

"apps:flight-mobile":
  - apps/flight-mobile/**

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: update ci-flight-mobile.yaml
  .github/workflows/ci-flight-mobile.yaml
Labels: ci

ci: add semantic-pr-checker.yaml
  .github/workflows/semantic-pr-checker.yaml
  commitlint.config.js
Labels: ci

chore: update package type to module
  commitlint.config.cjs
  package.json
Labels: none

ci: update semantic-pr-checker.yaml
  .github/workflows/semantic-pr-checker.yaml
Labels: ci

feat: init ui search form
  apps/flight-mobile/app.vue
  apps/flight-mobile/modules/home/components/SearchForm.vue
  apps/flight-mobile/modules/home/components/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/modules/home/composables/use-fetch-airports.ts
  apps/flight-mobile/modules/home/composables/use-fetch-promo-banners.ts
  apps/flight-mobile/modules/home/composables/use-fetch-seat-classes.ts
  apps/flight-mobile/modules/home/composables/use-home-store.ts
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/tailwind.config.js
Labels: apps:flight-mobile

feat: minor integration
  .vscode/web-pegipegi.code-workspace
  apps/flight-mobile/modules/home/assets/icon-search-class.svg
  apps/flight-mobile/modules/home/assets/icon-search-depart-date.svg
  apps/flight-mobile/modules/home/assets/icon-search-from.svg
  apps/flight-mobile/modules/home/assets/icon-search-passenger.svg
  apps/flight-mobile/modules/home/assets/icon-search-return-date.svg
  apps/flight-mobile/modules/home/assets/icon-search-to.svg
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SearchForm/index.vue
  apps/flight-mobile/modules/home/components/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/modules/home/composables/use-airports.ts
  apps/flight-mobile/modules/home/composables/use-fetch-airports.ts
  apps/flight-mobile/modules/home/composables/use-home-store.ts
  apps/flight-mobile/package.json
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/ts-shims.d.ts
Labels: apps:flight-mobile

chore: add nuxt start command
  apps/flight-mobile/package.json
Labels: apps:flight-mobile

ci: set husky executable
  .husky/commit-msg
  .husky/pre-commit
Labels: none

chore: run prettier
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SearchForm/index.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/modules/home/composables/use-airports.ts
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/tailwind.config.js
  apps/flight-mobile/ts-shims.d.ts
Labels: apps:flight-mobile

test: adjust e2e
  apps/flight-mobile/pages/index.vue
  tests/flight-mobile/tests/example.spec.ts
Labels: test, apps:flight-mobile

test: update e2e
  tests/flight-mobile/tests/example.spec.ts
Labels: test

feat: add nuxt-img
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

feat: add vueuse
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

fix: implement feedbacks
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/package.json
Labels: apps:flight-mobile

chore: add todo
  apps/flight-mobile/modules/home/components/SectionSearch.vue
Labels: apps:flight-mobile

chore: remove preview
  apps/flight-mobile/package.json
Labels: apps:flight-mobile

feat: add nuxt-image
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/package.json
  apps/flight-mobile/public/icon-search-class.svg
  apps/flight-mobile/public/icon-search-depart-date.svg
  apps/flight-mobile/public/icon-search-from.svg
  apps/flight-mobile/public/icon-search-passenger.svg
  apps/flight-mobile/public/icon-search-return-date.svg
  apps/flight-mobile/public/icon-search-to.svg
  pnpm-lock.yaml
Labels: apps:flight-mobile

feat: init tailwind and assets
  apps/flight-mobile/modules/home/assets/icons/arrow-oneway.svg
  apps/flight-mobile/modules/home/assets/icons/arrow-roundtrip.svg
  apps/flight-mobile/modules/home/assets/icons/close.svg
  apps/flight-mobile/package-lock.json
  apps/flight-mobile/tailwind.config.js
Labels: apps:flight-mobile

feat: add prettier-plugin-tailwindcss
  .prettierrc
  package.json
  pnpm-lock.yaml
Labels: none

feat: install date-fns
  apps/flight-mobile/package-lock.json
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

chore: remove shims
  apps/flight-mobile/ts-shims.d.ts
Labels: apps:flight-mobile

chore: drop over-abstraction
  apps/flight-mobile/modules/home/components/SectionSearch.vue
Labels: apps:flight-mobile

feat: install nuxt image
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

chore: move icon to public folder
  apps/flight-mobile/public/icon-arrow-oneway.svg
  apps/flight-mobile/public/icon-arrow-roundtrip.svg
  apps/flight-mobile/public/icon-close.svg
Labels: apps:flight-mobile

chore: update .prettierrc
  .prettierrc
Labels: none

feat: create ui last search
  apps/flight-mobile/modules/home/components/LastSearch/LastSearchItem.vue
  apps/flight-mobile/modules/home/components/SectionLastSearch.vue
Labels: apps:flight-mobile

feat: install date-fns
  apps/flight-mobile/package-lock.json
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

feat: init tailwind and assets
  apps/flight-mobile/modules/home/assets/icons/arrow-oneway.svg
  apps/flight-mobile/modules/home/assets/icons/arrow-roundtrip.svg
  apps/flight-mobile/modules/home/assets/icons/close.svg
  apps/flight-mobile/package-lock.json
  apps/flight-mobile/tailwind.config.js
Labels: apps:flight-mobile

chore: move icon to public folder
  apps/flight-mobile/public/icon-arrow-oneway.svg
  apps/flight-mobile/public/icon-arrow-roundtrip.svg
  apps/flight-mobile/public/icon-close.svg
Labels: apps:flight-mobile

feat: install nuxt image
  apps/flight-mobile/nuxt.config.ts
  apps/flight-mobile/package.json
  pnpm-lock.yaml
Labels: apps:flight-mobile

feat: create ui last search
  apps/flight-mobile/modules/home/components/LastSearch/LastSearchItem.vue
  apps/flight-mobile/modules/home/components/SectionLastSearch.vue
Labels: apps:flight-mobile

feat: install date-fns
  apps/flight-mobile/package-lock.json
Labels: apps:flight-mobile

chore: move icon to public folder
  apps/flight-mobile/modules/home/assets/icons/arrow-oneway.svg
  apps/flight-mobile/modules/home/assets/icons/arrow-roundtrip.svg
  apps/flight-mobile/modules/home/assets/icons/close.svg
Labels: apps:flight-mobile

feat: init tailwind and assets
  apps/flight-mobile/modules/home/assets/icons/arrow-oneway.svg
  apps/flight-mobile/modules/home/assets/icons/arrow-roundtrip.svg
  apps/flight-mobile/modules/home/assets/icons/close.svg
  apps/flight-mobile/package-lock.json
Labels: apps:flight-mobile

feat: init modal pages
  apps/flight-mobile/app.vue
  apps/flight-mobile/middleware/transition.global.ts
  apps/flight-mobile/modules/home/components/SearchForm/SearchFormInput.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/pages/[type]-date.vue
  apps/flight-mobile/pages/[type]-location.vue
  apps/flight-mobile/pages/index.vue
  apps/flight-mobile/pages/test.vue
  apps/flight-mobile/public/icon-search-destination.svg
  apps/flight-mobile/public/icon-search-origin.svg
  apps/flight-mobile/tailwind.config.js
Labels: apps:flight-mobile

chore: refactor search form
  apps/flight-mobile/modules/home/components/SearchForm/index.vue
  apps/flight-mobile/modules/home/components/SectionSearch.vue
  apps/flight-mobile/pages/test.vue
Labels: apps:flight-mobile

chore: resize touch area button close
  apps/flight-mobile/modules/home/components/LastSearch/LastSearchItem.vue
  apps/flight-mobile/pages/index.vue
Labels: apps:flight-mobile
